name: master builder

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches: [master]
  push:
    branches: [master]
    paths-ignore:
      - "docs/**"

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        directory:
          - .
          - core
          - extension
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Golang env
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false # conflict with golangci-lint cache
      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.0
          working-directory: ${{ matrix.directory }}
  unit-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Golang env
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Build
        run: go build
      - name: Unit Test
        run: go test -v $(go list ./... | grep -v /test) # skip e2e test
