name: master builder

on:
  pull_request:
    types: [ opened, synchronize, reopened, labeled, unlabeled]
    branches: [ master ]
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        directory:
          - .
          - core
          - extension
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Golang env
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false # conflict with golangci-lint cache
      - name: lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.7
          working-directory: ${{ matrix.directory }}
  unit-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Golang env
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Build
        run: go build
      - name: Unit Test
        run: go test -v $(go list ./... | grep -v /test) # skip e2e test
  e2e-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Golang env
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Install Ginkgo
        run: go install github.com/onsi/ginkgo/v2/ginkgo
      - name: Setup Teamgram Env
        run: |
          git clone https://github.com/iyear/teamgram-server.git
          cd teamgram-server
          git checkout 10151bb92555aa1bedcba9f8f24b0e7deac22dee
          sudo docker compose -f ./docker-compose-env.yaml up -d --quiet-pull
          sudo docker compose up -d --quiet-pull
      - name: Build
        run: go build
      - name: E2E Test
        run: ginkgo -v -r ./test
